.cnt-textA{
    display:block;
    font-size: 15px;
    font-weight: 800;
    // margin-block:5px;
    text-transform: uppercase;
    color: #949494;
}

.cnt-textB{
    display:block;
    font-size: 12px;
    font-weight: 600;
    margin-block:5px; 
    color: #c4c4c4;
}


.cnt-lg{
    font-size: 40px;
    font-weight:800;
}