<ion-content [fullscreen]="true">

  <div style="left:0;right:0;top:0;bottom:0;height:100%;background: URL('assets/1.png'); 
  background-position: center;background-size: cover;"> 
  </div>
  
</ion-content>


<ion-footer mode="ios" class="ion-padding">
  <div class="ion-margin-bottom">
    <div><ion-button  mode="ios" expand="block" shape="round" class="btn-custom hex-button" color="danger" (click)="goto_tableBooking()">TABLE BOOKING</ion-button></div><br>
    <div><ion-button  mode="ios" expand="block" shape="round" class="btn-custom hex-button" color="danger" (click)="goto_queueChecker()">QUEUE CHECKER</ion-button></div> <br>
    <div><ion-button  mode="ios" expand="block" shape="round" class="btn-custom hex-button" color="danger" (click)="goto_envFeedback()">ENVIRONMENT FEEDBACK</ion-button></div> <br>
    <div><ion-button  mode="ios" expand="block" shape="round" class="btn-custom hex-button" color="danger" (click)="goto_appFeedback()">APP FEEDBACK</ion-button></div> <br>
  </div> 
</ion-footer>