<ion-content [fullscreen]="true">

  <div style="left:0;right:0;top:0;bottom:0;height:100%;background: URL('assets/1.png'); 
  background-position: center;background-size: cover;"> 
  </div>
  
</ion-content>


<ion-footer mode="ios" class="ion-padding-bottom">
  <div class="ion-margin-bottom">
    <!-- <div><ion-button  mode="ios" expand="block" shape="round" class="btn-custom hex-button" color="danger" (click)="tableClick('1')">B1 - TTSH Good Life Cafe</ion-button></div><br>
    <div><ion-button  mode="ios" expand="block" shape="round" class="btn-custom hex-button" color="danger" (click)="tableClick('2')">L1 - TTSH Kopitiam</ion-button></div><br>
    <div><ion-button  mode="ios" expand="block" shape="round" class="btn-custom hex-button" color="danger" (click)="tableClick('3')">B1 - CHI PitStop @  Kopitiam</ion-button></div><br>
    <div><ion-button  mode="ios" expand="block" shape="round" class="btn-custom hex-button" color="danger" (click)="tableClick('4')">L4 - CHI Kampung Square</ion-button></div> -->

    <div class="ion-margin-bottom"><ion-button  mode="ios" expand="block" shape="round" class="btn-custom hex-button" color="danger" (click)="tableClick('1')">L1 - TTSH Kopitiam</ion-button></div>
     <br> <br>
  
  </div>
</ion-footer>