ion-slides {
    height: 100%;
  }


  ion-toolbar{
    // --background: rgb(51, 51, 51, 0.1);
    --background: transparent;
  }

  ion-content{
    // --background: linear-gradient(109.6deg, rgb(14, 11, 56) 11.2%, rgb(239, 37, 37) 91.1%);
    --background: rgb(51, 51, 51, 0.1);
  }