<ion-tab-bar slot="bottom" color="medium">
  
    <ion-tab-button [routerLink]="['/tabs/tab1']">
      <ion-icon src="assets/tab1_icon.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/tab2']">
      <ion-icon src="assets/tab2_icon.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/tab3']">
      <ion-icon src="assets/tab3_icon.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/tab4']">
      <ion-icon src="assets/tab4_icon.svg"></ion-icon>
    </ion-tab-button>

</ion-tab-bar>
